<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <%#= data %>
    <% data.forEach( post =>{ %>
        
        <form action="/api/reponse/<%= post.id %>?_method=PUT" method="post">
            <input type="hidden" name="_method" value="PUT">

            <label for=""><%= post.question%></label>
            
                <input type="radio" id="1" name="note" value="1">
                <label for="1">1</label>
              
            
                <input type="radio" id="2" name="note" value="2">
                <label for="2">2</label>
              
            
                <input type="radio" id="3" name="note" value="3" checked>
                <label for="3">3</label>
              
            
                <input type="radio" id="4" name="note" value="4">
                <label for="4">4</label>
              
            
                <input type="radio" id="5" name="note" value="5">
                <label for="5">5</label>
                
              
                <input type="submit" value="envoyer">
        </form>
        
        <br><br>
        
        <% })   %>
        <button id="tog1"><a href="http://localhost:5000/Avis" target="_blank">AVIS</a></button>
        
       <script>
          
        if(!post.admin) {

            document.getElementById("tog1");
            tog1.style.display = "none";
            
        }
        </script>
        
</body>
</html> 